@keyframes F-top {
  to {
    top: 0px;
    position: relative;
  }
}

@keyframes F-right {
  to {
    left: 0px;
    position: relative;
  }
}
@keyframes F-left {
  to {
    right: 0px;
    position: relative;
  }
}
@keyframes F-bottom {
  to {
    bottom: 0px;
    position: relative;
  }
}
